# IDE
.idea/
.vscode/

# OS
.DS_Store

# Backend
backend/tmp/
backend/log/
backend/storage/
backend/.bundle/
backend/vendor/bundle/

# Frontend
frontend/node_modules/
frontend/dist/

# Secrets
backend/config/master.key
backend/config/credentials.yml.enc
